<style>

         @font-face {font-family:'GeosansLight'; src:url('GeosansLight.ttf');}
         h3{
         font-family:'GeosansLight';
         }
         a{
         text-decoration: none!important;
         }
         a:hover{
         text-decoration: none;
         }

         /* For mobile phones: */
         [class*="col-"] {
         width: 100%;
         }
         @media only screen and (min-width: 600px) {
         /* For tablets: */
         .col-m-1 {width: 8.33%;}
         .col-m-2 {width: 16.66%;}
         .col-m-3 {width: 25%;}
         .col-m-4 {width: 33.33%;}
         .col-m-5 {width: 41.66%;}
         .col-m-6 {width: 50%;}
         .col-m-7 {width: 58.33%;}
         .col-m-8 {width: 66.66%;}
         .col-m-9 {width: 75%;}
         .col-m-10 {width: 83.33%;}
         .col-m-11 {width: 91.66%;}
         .col-m-12 {width: 100%;}
         }
         @media only screen and (min-width: 768px) {
         /* For desktop: */
         .col-1 {width: 8.33%;}
         .col-2 {width: 16.66%;}
         .col-3 {width: 25%;}
         .col-4 {width: 33.33%;}
         .col-5 {width: 41.66%;}
         .col-6 {width: 50%;}
         .col-7 {width: 58.33%;}
         .col-8 {width: 66.66%;}
         .col-9 {width: 75%;}
         .col-10 {width: 83.33%;}
         .col-11 {width: 91.66%;}
         .col-12 {width: 100%;}
         }

         .background{
         background-image: url('http://i.imgur.com/jRYjz0o.jpg');
         background-size: cover;
         background-repeat: no-repeat;
         background-position: center;
         position: fixed;
         top: 0; left: 0;
         height: 100%; width: 100%;
         z-index: -1;
         opacity: 0.9;
         }
         .menu{
         width: 100%;
         position: relative;
         margin: 0;
         -webkit-transition: all .6s;
         -moz-transition: all .6s;
         -ms-transition: all .6s;
         -o-transition: all .6s;
         transition: all .6s;
         }
         .menu.isCentered{
         margin-top: calc(25% - 100px);
         margin-bottom: 120px;
         }
         .menu div{
         max-width: 900px;
         min-width: 500px;
         width: 100%;
         position: relative;
         margin: 0 auto;
         background-color: rgba(44, 45, 46,0.75);
         height: auto;
         overflow: hidden;
         padding: 30px 24px;
         box-shadow: 3px 18px -3px 18px #111;
         -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
         box-sizing: border-box;
         }
         .menu.isCentered div{
         padding: 3px 24px 30px;
         }
         .menu a.to-about-me{
         height: 0px;
         overflow: hidden;
         display: block;
         background-color: rgba(230,230,230,0.98);
         max-width: 900px;
         min-width: 500px;
         width: 100%;
         position: relative;
         margin: 0 auto;
         box-shadow: 0px 3px 18px -3px #111;
         cursor: pointer;
         text-align: center;
         -webkit-transition: all .3s;
         -moz-transition: all .3s;
         -ms-transition: all .3s;
         -o-transition: all .3s;
         transition: all .3s;
         }
         .menu.isCentered a.to-about-me{
         height: 75px;
         }
         .menu a.to-about-me:hover{
         opacity: 0.9;
         }
         .menu a.to-about-me img{
         width: 30px;
         padding: 6px 0 0 0;
         margin-top: -30px;
         opacity: 0.6;
         -webkit-box-sizing: content-box;
         -moz-box-sizing: content-box;
         box-sizing: content-box;
         }
         .menu a.to-about-me span{
         display: block;
         font-size: 18px;
         line-height: 54px;
         color: #555;
         font-weight: bold;
         font-family: "GeosansLight";
         }
         .menu div h3{
         font-size: 30px;
         color: #CCC;
         margin-bottom: 24px;
         text-align: center;
         }
         .menu div a{
         display: block;
         width: 20%;
         float: left;
         height: 70px;
         text-align: center;
         white-space: nowrap;
         -webkit-transition: all .24s;
         -moz-transition: all .24s;
         -ms-transition: all .24s;
         -o-transition: all .24s;
         transition: all .24s;
         }
         .menu div a.prof-image{
         width: 20%;
         height: 90px;
         box-shadow: 9px 0px 9px -9px #222;
         cursor: default;
         }
         .menu div a>img{
         max-height: 90%;
         max-width: 90%;
         vertical-align: middle;
         display: inline-block;
         }
         .menu div a:not(.prof-image):hover{
         opacity: 0.3;
         }
         .helper {
         display: inline-block;
         height: 100%;
         vertical-align: middle;
         }
         .container{
         padding: 36px 0;
         background-color: rgba(240, 242, 242, 0.98);
         max-width: 900px;
         min-width: 500px;
         width: 100%;
         position: relative;
         margin: 0 auto;
         box-shadow: 0px 3px 18px -3px #111;
         display: none;
         }
         .about-Me h3{
         color: #555;
         font-size: 48px;
         text-align: center;
         font-weight: bold;
         margin-bottom: 24px;
         }
         .about-Me h3 strong{
         color: #333;
         text-shadow: 0 0 1px #D1FFF4;
         }
         .about-Me hr{
         border: 0; outline: none;
         background-color: #DEDEDE;
         width: 40%; display: block;
         height: 1px;
         margin-bottom: 36px;
         }
         .bio-container p{
         font-size: 14px;
         padding: 0 54px;
         line-height: 21px;
         color: #444;
         font-family: Candara,Calibri,Segoe,"Segoe UI",Optima,Arial,sans-serif;
         -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
         box-sizing: border-box;
         }
      </style>
